language: python
python:
  - "2.6"
  - "2.7"
install:
  - if [[ $TRAVIS_PYTHON_VERSION == 2.6 ]]; then pip install unittest2; fi
  - pip install -r requirements.txt
script: nosetests
env:
  global:
    - secure: "Qd3+pUa6pwn7C4NaeNH23PlLgUhO+qiist1MvB4BVNWWrZxZ2zTb/YCGdoffCjWSJsDr8laUegFjUZ4PwGOies3MlTGw5G2zXkYC8kX3QbJLZdPKbR31X9fuMenE/FkiDHKz+JSdYT/SM/c+6sVI6SIQ0i8CwZjo7sqwP8jjrMM="
    - secure: "nZ5BpEUAcFY/C9eghAFAfl68ysnnCEu9jY9GQ8GvZIgm5vqOLgMzMeTKXLoK7aMusflFMoiWKZxh9qFX7BKd71QTbRYK0mEdRMkaK+4G2EeT9+cWJc/F7bMm+IE6vsHr1Uhl2Wd7GhWtAaqgSiO5Py1v/VjooeXeMrULHmMzAOU="
addons:
  sauce_connect: true
